.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.logo-accent {
    color: var(--black-color);
}

.logo-accent-footer {
    color: var(--main-white-color);
}