.team-list {
    display: flex;
    column-gap: 30px;
}

.team-soc {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-white-color);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
    fill: var(--main-white-color);
}

.team-soc-icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-text {
    padding: 30px 15px;
}

.team-item {
    background-color: var(--primary-background-color);
    width:270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 10px;
}

.team-list-text {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
    margin-bottom: 16px;
}